<p [ngClass]="{ est: est, barca: barca, milan: milan }">class works!</p>

<button class="btn btn-success" (click)="change('est')">est</button>
<button class="btn btn-success" (click)="change('barca')">barca</button>
<button class="btn btn-success" (click)="change('milan')">milan</button>

<div appHighlight>Bonjour je test une directive</div>

<button class="btn btn-secondary" (click)="show = !show">show</button>

<input *ngIf="show" type="text" appRainbow class="form-control" />

<ol class="list-group">
  <li class="list-group-item" *ngFor="let team of teams; let ind = index">
    {{ team }} - {{ ind }}
  </li>
</ol>
