<form #loginFormulaire="ngForm" (ngSubmit)="login(loginFormulaire.value)">
  <label for="email">Email</label>
  <input
    type="text"
    id="email"
    class="form-control"
    name="email"
    ngModel
    email
    required
  />

  <label for="password">Password</label>
  <input
    type="password"
    id="password"
    class="form-control"
    name="password"
    #pwdInput="ngModel"
    ngModel
    required
    minlength="4"
  />
  <div class="alert alert-danger" *ngIf="pwdInput.invalid && pwdInput.touched">
    Min 4 caracteres
  </div>

  <button [disabled]="loginFormulaire.invalid" class="btn btn-primary">
    Log In
  </button>
</form>
