<!--
<div class="alert alert-success">
  <app-child-a></app-child-a>
  <app-child-b></app-child-b>
  <i class="fa fa-smile-o" aria-hidden="true"></i>
</div>

<button class="btn btn-danger" (click)="changeStatus()">Allumer/etindre</button>

<div  [hidden]="notShow" [style.backgroundColor]="bgColor">
  Binding

  {{bgColor}}
</div>

<app-color></app-color>

 -->

<div class="container">
  <app-header></app-header>
  <!--   <app-http></app-http> -->
  <app-search></app-search>
  <router-outlet> </router-outlet>

  <!--  <app-style [bgColor]="'green'" [color]="'red'"></app-style>
  <app-class></app-class>
   -->
</div>
